header {
  position: fixed;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 5px 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  z-index: 999;
  background: #fff;
}

header h1 {
  position: absolute;
  width: 40%;
  height: 40px;
  text-align: center;
  left: 30%;
  padding: 0px;
}

header h1 > *:first-child {
  max-width: 100%;
  max-height: 40px;
  vertical-align: middle;
}
header span{
  font-size: 36px;
  color: #FF606A;
  position: absolute;
}
header span:nth-child(1){
  left: 3px;
}
header span:nth-child(3){
  font-size: 30px;
  right: 45px;
}
header span:nth-child(4){
  font-size: 30px;
  right: 5px;
}