.sect{
  display: inline-block;
  position: relative;
  width: 50%;
  min-height: 120px;
  margin: 5px 0px;
}
.sect-des{
  width: 100%;
  padding: 10px 20px;
}
.sect-des div:first-child{
  font-size: 16px;
  font-weight: bold;
}
.sect-des div:last-child{
  padding-top: 5px;
  color: #d2d2d2;
}
.sect-arr{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
}