.p-list{
    background-color: #fff;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    border-top: 1px solid #e2e2e0;
    border-bottom: 1px solid #e2e2e0;
}
.p-list-sign{
  position: relative;
  color: #d2d2d2;
}
.p-list-sign img{
  position: absolute;
  top: -5px;
  width: 20px;
}
.p-list-sign span{
  position: relative;
  left: 25px;
}
.p-list-img{
  max-height: 160px;
  padding: 0px 10px;
  margin: 10px 0px;
  overflow: hidden;
}
.p-list-img img{
  width: 100%;
  height: auto;
}
.p-list-h1{
  padding-bottom: 5px;
  font-size: 16px;
}
.p-list-des{
  color: #ff5c5c;
}
.p-list-price{
  font-size: 18px;
  font-weight: bolder;
}
.p-list-cut{
  display: inline-block;
  padding: 2px 5px;
  margin-left: 10px;
  border: 2px solid #FBBD22;
  border-radius: 10px;
  font-size: 14px;
  color: #FBBD22;
}