.slider{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.slider-box{
  position: relative;
}
.slider-box a{
  display: inline-block;
  position: relative;
}
.slide{
  width: 100%;
  height: 200px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  background-size: 100% 200px;
}